<div class="row">
    <div class="col-md-12">
    <a  href="#modal-file-upload" data-toggle="modal" class="btn btn-outline blue" id="btnUploadFile">上传文件</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="ul-img-list" id="mdimages">
            <li>
                <img data-original="/images/doctorback.png" src="~/images/doctorback.png" height="100" width="150" />
                <i class="fa fa-2x fa-trash-o blue delete" title="删除图片"></i>
            </li>
            <li>
                <img data-original="/images/doctor.png" src="~/images/doctor.png" height="100" width="150" />
                <i class="fa fa-2x fa-trash-o blue delete" title="删除图片"></i>
            </li>
            <li>
                <img data-original="/images/patient.png" src="~/images/patient.png" height="100" width="150" />
                <i class="fa fa-2x fa-trash-o blue delete" title="删除图片"></i>
            </li>
        </ul>
    </div>
</div>


    <div id="modal-file-upload" role="basic" aria-hidden="true" class="modal fade ">
        <div class="modal-dialog " style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
                    <h4 class="modal-title">上传病历附件</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="fileupload" action="@Url.Action("UploadFile","MedicalHistory")" method="POST" enctype="multipart/form-data">
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row fileupload-buttonbar">
                                    <div class="col-md-8">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn green fileinput-button">
                                            <i class="fa fa-plus"></i>
                                            <span> 添加文件 </span>
                                            <input type="file" name="files[]" multiple="">
                                        </span>
                                        <button type="submit" class="btn blue start">
                                            <i class="fa fa-upload"></i>
                                            <span> 开始上传 </span>
                                        </button>
                                        <button type="reset" class="btn warning cancel">
                                            <i class="fa fa-ban-circle"></i>
                                            <span> 取消上传 </span>
                                        </button>
                                        <button type="button" class="btn red delete">
                                            <i class="fa fa-trash"></i>
                                            <span> 删除 </span>
                                        </button>
                                        <input type="checkbox" class="toggle">
                                        <!-- The global file processing state -->
                                        <span class="fileupload-process"> </span>
                                    </div>
                                    <!-- The global progress information -->
                                    <div class="col-md-4 fileupload-progress fade">
                                        <!-- The global progress bar -->
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-success" style="width:0%;"> </div>
                                        </div>
                                        <!-- The extended global progress information -->
                                        <div class="progress-extended"> &nbsp; </div>
                                    </div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped clearfix">
                                    <tbody class="files"> </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="col-md-12">
                           
                        </div>
                    </div>
                    @*<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                        <div class="slides"> </div>
                        <h3 class="title"></h3>
                        <a class="prev"> ‹ </a>
                        <a class="next"> › </a>
                        <a class="close white"> </a>
                        <a class="play-pause"> </a>
                        <ol class="indicator"> </ol>
                    </div>*@
                    <script id="template-upload" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-upload fade">
                            <td>
                                <span class="preview"></span>
                            </td>
                            <td>
                                <p class="name">{%=file.name%}</p>
                                <strong class="error label label-danger"></strong>
                            </td>
                            <td>
                                <p class="size">Processing...</p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                            </td>
                            <td>
                                {% if (!i && !o.options.autoUpload) { %}
                                <button class="btn blue start" disabled>
                                    <i class="fa fa-upload"></i>
                                    <span>开始上传</span>
                                </button> {% } %} {% if (!i) { %}
                                <button class="btn red cancel">
                                    <i class="fa fa-ban"></i>
                                    <span>取消上传</span>
                                </button> {% } %}
                            </td>
                        </tr> {% } %}
                    </script>
                    <script id="template-download" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-download fade">
                            <td>
                                <span class="preview">
                                    {% if (file.thumbnailUrl) { %}
                                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>
                                        <img src="{%=file.thumbnailUrl%}">
                                    </a> {% } %}
                                </span>
                            </td>
                            <td>
                                <p class="name">
                                    {% if (file.url) { %}
                                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl? 'data-gallery' : '' %}>{%=file.name%}</a> {% } else { %}
                                    <span>{%=file.name%}</span> {% } %}
                                </p> {% if (file.error) { %}
                                <div>
                                    <span class="label label-danger">Error</span> {%=file.error%}
                                </div> {% } %}
                            </td>
                            <td>
                                <span class="size">{%=o.formatFileSize(file.size)%}</span>
                            </td>
                            <td>
                                {% if (file.deleteUrl) { %}
                                <button class="btn red delete btn-sm" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                                    <i class="fa fa-trash-o"></i>
                                    <span>删除</span>
                                </button>
                                <input type="checkbox" name="delete" value="1" class="toggle"> {% } else { %}
                                <button class="btn yellow cancel btn-sm">
                                    <i class="fa fa-ban"></i>
                                    <span>取消</span>
                                </button> {% } %}
                            </td>
                        </tr> {% } %}
                    </script>
                </div>
                <div class="modal-footer">
                    @*<button type="button" id="btnSavePwd" class="btn blue btn-outline">上  传</button>*@
                    <button type="button" data-dismiss="modal" class="btn blue btn-outline">关闭</button>
                </div>
            </div>
        </div>
    </div>


