<div class="row">
    <div class="col-md-12">
    <a  href="#modal-file-upload" data-toggle="modal" class="btn btn-outline blue" id="btnUploadFile">上传文件</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="ul-img-list" id="mdimages">
            <li v-for="(image, index) in info">
                <img :data-original="image.FilePath" :src="image.FilePath" height="150" width="100" />
                <i class="fa fa-2x fa-trash-o blue delete" :data-id="image.Id" title="删除病历附件"></i>
            </li>
        </ul>
    </div>
</div>


    <div id="modal-file-upload" role="basic" aria-hidden="true" class="modal fade ">
        <div class="modal-dialog " style="width:70%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
                    <h4 class="modal-title">上传病历附件</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="uploadfile">
                                <span class="btn green fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>选择文件</span>
                                    <input type="file" name="upfile1" accept="image/*" id="upfile1">
                                </span>
                                <button type="button" class="btn blue start">
                                    <i class="fa fa-upload"></i>
                                    <span> 开始上传 </span>
                                </button>
                                <ul class="ul-img-list" id="upimages">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn blue btn-outline">关闭</button>
                </div>
            </div>
        </div>
    </div>


