<script type="text/x-template" id="vuetmp-paginator">
    <div class="pagination-container">
        <ul class="pagination">
            <li v-bind:class="page.PageInfo.IsFirstPage?'disabled':''">
                <span v-if="page.PageInfo.IsFirstPage">首页</span>
                <a v-else href="javascript:;" v-on:click="page.query(1,page.SortIndex,page.SortType)">首页</a>
            </li>
            <li v-bind:class="page.PageInfo.HasPreviousPage?'':'disabled'">
                <a v-if="page.PageInfo.HasPreviousPage" href="javascript:;" v-on:click="page.query(page.PageInfo.PageNumber -1,page.SortIndex,page.SortType)">上一页</a>
                <span v-else>上一页</span>
            </li>

            @*<li v-if="page.PageInfo.PageCount > 5 && page.PageInfo.PageNumber >3" class="disabled"><a>…</a></li>
                <li v-for="pgnum in page.pageNumList" v-bind:class="page.PageInfo.PageNumber == pgnum?'active':''">
                    <a href="javascript:;" v-on:click="tinfo.query(pgnum,page.SortIndex,page.SortType)">{{pgnum}}</a>
                </li>
                <li v-if="page.PageInfo.PageCount > 5 && page.PageInfo.PageNumber < (page.PageInfo.PageCount -2)"
                    class="disabled"><a>…</a></li>*@
            <li v-bind:class="page.PageInfo.HasNextPage?'':'disabled'">
                <a rel="next" v-if="page.PageInfo.HasNextPage" href="javascript:;" v-on:click="page.query(page.PageInfo.PageNumber + 1,page.SortIndex,page.SortType)">下一页</a>
                <span v-else>下一页</span>
            </li>
            <li v-bind:class="page.PageInfo.IsLastPage?'disabled':''">
                <span v-if="page.PageInfo.IsLastPage">末页</span>
                <a v-else href="javascript:;" v-on:click="page.query(page.PageInfo.PageCount,page.SortIndex,page.SortType)">末页</a>
            </li>
            <li class="disabled">
                <span class="page-num-input ">
                    跳转到第 <input type="number" min="1" v-bind:max="page.PageInfo.PageCount"
                                v-model.number="page.gotoindex"  /> 页<a href="javascript:;" v-on:click="page.query(page.gotoindex,page.SortIndex,page.SortType)">go</a>
                </span>
            </li>
            <li class="disabled"><span>当前页:{{page.PageInfo.PageNumber}} / 总页数:{{page.PageInfo.PageCount}}</span></li>
            <li class="disabled"><span>总记录数：{{page.PageInfo.TotalItemCount}}</span></li>
        </ul>
    </div>
</script>
