body {
    padding: 0;
    margin: 0;
    /*font-family: 'Microsoft YaHei',STSong*/
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #676a6c;
    overflow-x: hidden
}

/*vue加载不闪动*/
[v-cloak] {
    display: none;
}

.w10 {
    width: 10px !important;
}

.w20 {
    width: 20px !important;
}

.w30 {
    width: 30px !important;
}

.w40 {
    width: 40px !important;
}

.w50 {
    width: 50px !important;
}

.w60 {
    width: 60px !important;
}

.w70 {
    width: 70px !important;
}

.w80 {
    width: 80px !important;
}

.w90 {
    width: 90px !important;
}

.w100 {
    width: 100px !important;
}

.w196 {
    width: 196px !important;
}

.w200 {
    width: 200px !important;
}

.w300 {
    width: 300px !important;
}

.w400 {
    width: 400px !important;
}

.w150 {
    width: 150px !important;
}

.w250 {
    width: 250px !important;
}

.w350 {
    width: 350px !important;
}

.w450 {
    width: 450px !important;
}

.w500 {
    width: 500px !important;
}

.w-auto {
    width: auto !important;
}
/*@font-face {
    font-family: myfont;
    src: url('../fonts/Bad Script regular.ttf');
}

div {
    font-family: myfont;
}*/

.page-content-white .page-title {
    margin: 0 0 10px !important;
}

.page-content-wrapper .page-content {
    padding: 10px !important;
}

.page-footer-fixed .page-footer {
    background-color: #ffffff !important;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-30 {
    margin-right: 30px;
}


/*顶部样式*/
.page-header.navbar, .page-header.navbar .page-logo {
    height: 80px !important;
}

.top-menu {
    margin-top: 15px !important;
}

.page-logo .logo {
    display: inline-block;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.page-sidebar-closed .page-logo .logo {
    display: none;
}



/*****************************************左侧菜单样式*****************************************/
.page-sidebar .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before {
    top: 16px;
}

.page-sidebar .page-sidebar-menu > li > a {
    font-size: 18px !important;
    padding: 15px 10px !important;
}

.page-sidebar-menu .sub-menu li > a {
    padding: 10px 15px 10px 43px !important;
}

.page-sidebar-menu {
    z-index: 9999 !important;
}

.page-sidebar .page-sidebar-menu > li > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
    font-size: 20px;
    /*margin-right: 5px;
    text-shadow: none;*/
}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    border-top: 1px solid #4a83b6;
}



@media (min-width: 992px) {
    .page-container {
        margin-top: 80px !important;
    }

    .page-sidebar {
        top: 80px !important;
    }
}

.menu-toggler.sidebar-toggler {
    margin-top: 30px !important;
}

.logo-default {
    margin-top: 20px !important;
}
/*.page-footer
{
    margin-left:235px !important;
}*/
/*****************************************右侧内容样式*****************************************/
.page-content-title {
    border-bottom: 1px solid #e7ecf1;
    padding: 0 0 10px;
    margin-bottom: 5px;
}

    .page-content-title > .title {
        font-size: 16px;
        font-weight: 700;
        color: #888;
    }

.portlet > .portlet-title > .caption {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
}

.portlet.box > .portlet-title > .caption {
    font-size: 16px;
}

    .portlet.box > .portlet-title > .caption > .fa {
        font-size: 20px;
        margin-top: 2px;
    }

.portlet > .portlet-title > .querycontent {
    color: #666;
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
}

@media (min-width: 768px) {
    .querycontent .form-group {
        padding-bottom: 10px;
    }
}

.portlet-title .myactions {
    float: right;
}
/*.portlet.light > .portlet-title > .actions {
    padding: 0 0 10px !important;
}*/
/*****************************************底部样式*****************************************/
.page-footer {
    /*border-top:1px solid #ddd;*/
    /*background-color:#cf3232 !important;*/
}





/*.select2-container--bootstrap .select2-selection {
    border: 1px solid #3598dc;
}*/


.control-label .required,
.form-group .required {
    color: inherit !important;
    font-size: 14px !important;
    padding-left: 12px !important;
}

/*********************************************表格样式*********************************************/

.table {
    position: relative;
}

    .table thead th {
        background-color: #4a83b6;
        color: #fff;
        text-align: center;
    }

td.no-data {
    padding: 10px !important;
}

.table tbody td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.portlet-body .table td {
    text-align: center;
    vertical-align: middle;
}




.tb-detail-view {
    display: none;
}

    .tb-detail-view > td {
        text-align: left !important;
    }


    .tb-detail-view p {
        margin: 5px auto !important;
    }

        .tb-detail-view p > b {
            margin-right: 10px;
        }


    .tb-detail-view.open {
        display: table-row;
    }





.table > tfoot > tr > td {
    padding: 0 18px !important;
    border: none;
    text-align: right !important;
}


/*查询表格排序图标*/
.table .sorting {
    padding-right: 19px;
    background: url('/images/sort_both.png') no-repeat center right;
    cursor: pointer;
}

.table .sorting_asc {
    padding-right: 19px;
    background: url('/images/sort_asc.png') no-repeat center right;
    cursor: pointer;
}

.table .sorting_desc {
    padding-right: 19px;
    background: url('/images/sort_desc.png') no-repeat center right;
    cursor: pointer;
}

    .table .sorting span, .table .sorting_asc span, .table .sorting_desc span {
        margin-left: 10px;
    }

.table > tfoot   td.action {
    padding: 10px !important;
    border: none;
    text-align: center !important;
}



.page-num-input {
    padding: 3px 10px !important;
}

    .page-num-input input {
        width: 50px !important;
        text-align: center;
    }

    .page-num-input a {
        margin-left: 10px;
        text-decoration: none;
        border: 1px solid #ddd;
        padding: 2px;
    }

        .page-num-input a:hover {
            background-color: #4a83b6;
            color: #fff;
        }

.input-daterange {
    width: auto !important;
}

    .input-daterange input {
        width: 130px !important;
    }

    .input-daterange .input-group-addon, .input-datetime-range .input-group-addon {
        border-left: none;
        border-right: none;
    }

.input-datetime-range > input {
    width: 150px !important;
}


.myloading {
    position: absolute;
    width: 120px;
    height: 50px;
    border: 1px solid #ddd;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -20px;
    z-index: 9999;
    line-height: 50px;
    display: none;
    padding-left: 40px;
    background: #fff url(/images/loading.gif) no-repeat center left;
    color: #908989;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.requiredspan {
    vertical-align: middle;
    color: red;
    font-weight: 700;
    padding-left: 5px;
}





/************************************************编辑及详细页面样式************************************************/
.pg-title {
    margin-bottom: 10px;
}

    .pg-title > div {
        /*margin: 0;*/
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
    }


.edit-view > .col-md-12, .detail-view > .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.edit-view .col-md-12 > .form-group, .detail-view .col-md-12 > .form-group {
    margin-right: 20px;
    padding-bottom: 10px;
}

    .edit-view .col-md-12 > .form-group > label:first-child, .detail-view .col-md-12 > .form-group > label:first-child, .info-title {
        font-weight: 700 !important;
        min-width: 80px;
        text-align: right;
        padding-right: 10px;
    }




.edit-view > .col-md-12 > .form-group > label:last-child, .detail-view > .col-md-12 > .form-group > label:last-child {
    min-width: 150px;
}


.edit-view .pg-title {
    background-color: #07a7e1;
    color: #fff;
}

.detail-view .pg-title {
    background-color: #ddd;
    color: #333;
}


.edit-view .col-md-12 > .form-group > input {
    margin-left: 0 !important;
}


/*.detail-view > .col-md-12 > .form-group {
    padding: 5px 0;
}*/



.underline {
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
}

.pg-title + .underline {
    padding-top: 0;
}

.underline label {
    margin-bottom: 0;
}

.topline {
    border-top: 1px solid #ddd;
}

.action-content {
    border-top: 1px solid #ddd;
    padding: 10px 10px 0;
}
/************************************************日期选择框样式************************************************/
.date-picker[readonly] {
    background-color: #fff !important;
}

.input-daterange input[readonly] {
    background-color: #fff;
}
/************************select2样式************************/
/*.select2-results__options {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}*/
/*.select2-container {
    z-index: 20000;
}*/

.select2-results__group {
    background-color: #2f853b;
    color: #fff !important;
}


/************************datepicker样式************************/
.datepicker.datepicker-dropdown {
    z-index: 20001;
}
/************************错误信息提示样式************************/
.form-group {
    position: relative;
}

.has-error > label {
    color: red;
}

.error-msg {
    position: absolute;
    display: none;
    background: 0 0;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    z-index: 9999;
    width: auto;
    white-space: nowrap;
}

    .error-msg .error-content {
        position: relative;
        line-height: 22px;
        min-width: 12px;
        padding: 8px 15px;
        font-size: 12px;
        border-radius: 2px;
        box-shadow: 1px 1px 3px rgba(0,0,0,.2);
        color: #fff;
    }

        .error-msg .error-content .error-arrow {
            position: absolute;
            left: -8px;
            top: 5px;
            border-bottom-style: solid;
            width: 0;
            height: 0;
            border-width: 8px;
            border-color: transparent;
            border-style: dashed;
        }


/************************Modal样式************************/
.modal-dialog {
    margin-top: 100px;
}

.modal-myfull.modal-dialog {
    width: 80%;
}

@media (max-width: 768px) {
    .modal-myfull.modal-dialog {
        width: auto;
    }
}



.modal-dialog .modal-header {
    background-color: #4a83b6;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

    .modal-dialog .modal-header .close {
        margin-top: 3px !important;
        width: 20px;
        height: 20px;
        background-image: url(/images/close.png) !important;
    }


.modal-body .form-group label:first-child {
    font-weight: 700;
}
/************************************************页面样式************************************************/
/*病历详细页面*/
.title-patient {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

    .title-patient span {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        /*width: 150px;*/
        padding-left: 40px;
        padding-right: 10px;
    }

        .title-patient span.age {
            padding-left: 0;
            font-size: 16px;
            color: #888;
        }

    .title-patient .female {
        background: url(/images/Female.png) no-repeat left;
    }

    .title-patient .male {
        background: url(/images/male.png) no-repeat left;
    }


.person-medical-detail .pg-title > div {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

/*.person-medical-detail .btn-group.bootstrap-select {
    width: 70px !important;
}*/

.person-medical-detail .edit-view .form-group label:first-child {
    width: 100px;
}

.ul-img-list {
    list-style: none;
    margin: 0;
    padding: 10px 10px 10px 0;
}

    .ul-img-list > li {
        display: inline-block;
        margin-right: 15px;
        position: relative;
        border: 1px solid #4a83b6;
        padding: 4px;
    }

        .ul-img-list > li > p {
            margin: 0;
        }


    .ul-img-list .delete {
        position: absolute;
        top: 10px;
        right: 0;
        color: red;
        display: none;
        cursor: pointer;
    }
/************************************************手风琴样式************************************************/



.accordion .panel-title .accordion-toggle {
    background-color: #2f853b;
    color: #fff;
    font-weight: 700;
}




    .accordion .panel-title .accordion-toggle.collapsed {
        background-color: #07a7e1;
    }



.viewer-toolbar1 li {
    height: 60px;
    /*margin-bottom: -10px;
    margin-top: -10px;*/
    width: 60px;
}

.consultation-detail .form-group > label:first-child {
    width: 100px;
}

.room-list .content {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.room-list .pic {
    height: 130px;
    text-align: center;
    padding: 10px;
}

.room-list .title {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

    .room-list .title > h3 {
        margin: 0;
    }

.room-list .control {
    padding: 10px;
    height: 54px;
    text-align: center;
}


.date-set-table tr td {
    font-size: 20px;
    padding: 15px !important;
}

/************************************************排班页面************************************************/
.plan-table tr td {
    font-size: 18px;
    padding: 15px 4px !important;
}

.plan-table .select2-selection.select2-selection--single {
    padding-left: 0 !important;
    padding-right: 20px !important;
}