body {
    padding: 0;
    margin: 0;
    /*font-family: 'Microsoft YaHei',STSong*/
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #676a6c;
    overflow-x: hidden
}

/*vue加载不闪动*/
[v-cloak] {
    display: none;
}

.w10 {
    width: 10px !important;
}

.w20 {
    width: 20px !important;
}

.w30 {
    width: 30px !important;
}

.w40 {
    width: 40px !important;
}

.w50 {
    width: 50px !important;
}

.w60 {
    width: 60px !important;
}

.w70 {
    width: 70px !important;
}

.w80 {
    width: 80px !important;
}

.w90 {
    width: 90px !important;
}

.w100 {
    width: 100px !important;
}

.w196 {
    width: 196px !important;
}

.w200 {
    width: 200px !important;
}

.w300 {
    width: 300px !important;
}

.w400 {
    width: 400px !important;
}

.w150 {
    width: 150px !important;
}

.w250 {
    width: 250px !important;
}

.w350 {
    width: 350px !important;
}

.w450 {
    width: 450px !important;
}

/*@font-face {
    font-family: myfont;
    src: url('../fonts/Bad Script regular.ttf');
}

div {
    font-family: myfont;
}*/

.page-content-white .page-title {
    margin: 0 0 10px !important;
}

.page-content-wrapper .page-content {
    padding: 10px !important;
}

.page-footer-fixed .page-footer {
    background-color: #ffffff !important;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}





/*顶部样式*/
.page-header.navbar, .page-header.navbar .page-logo {
    height: 80px !important;
}

.top-menu {
    margin-top: 15px !important;
}



/*****************************************左侧菜单样式*****************************************/
.page-sidebar .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before {
    top: 16px;
}

.page-sidebar .page-sidebar-menu > li > a {
    font-size: 18px !important;
    padding: 15px 10px !important;
}

.page-sidebar-menu .sub-menu li > a {
    padding: 10px 15px 10px 43px !important;
}
.page-sidebar-menu 
{
    z-index:9999 !important;
}



@media (min-width: 992px) {
    .page-container {
        margin-top: 80px !important;
    }

    .page-sidebar {
        top: 80px !important;
    }
}

.menu-toggler.sidebar-toggler {
    margin-top: 30px !important;
}

/*.page-footer
{
    margin-left:235px !important;
}*/










.page-content-title {
    border-bottom: 1px solid #e7ecf1;
    padding: 0 0 10px;
    margin-bottom: 5px;
}

    .page-content-title > .title {
        font-size: 16px;
        font-weight: 700;
        color: #888;
    }

/*****************************************底部样式*****************************************/
.page-footer {
    /*border-top:1px solid #ddd;*/
    /*background-color:#cf3232 !important;*/
}



.portlet > .portlet-title > .querycontent {
    color: #666;
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 0 0 10px;
}

/*.select2-container--bootstrap .select2-selection {
    border: 1px solid #3598dc;
}*/


.control-label .required,
.form-group .required {
    color: inherit !important;
    font-size: 14px !important;
    padding-left: 12px !important;
}

/*********************************************表格样式*********************************************/

.table {
    position: relative;
}

    .table thead th {
        background-color: #4a83b6;
        color: #fff;
        text-align: center;
    }

    .table tbody td {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

.portlet-body .table td {
    text-align: center;
    vertical-align: middle;
}




.detail-view {
    display: none;
}

    .detail-view > td {
        text-align: left !important;
    }


    .detail-view p {
        margin: 5px auto !important;
    }

        .detail-view p > b {
            margin-right: 10px;
        }


    .detail-view.open {
        display: table-row;
    }



.table > tfoot > tr > td {
    padding: 0 18px !important;
    border: none;
    text-align: right !important;
}


/*查询表格排序图标*/
.table .sorting {
    padding-right: 19px;
    background: url('/images/sort_both.png') no-repeat center right;
    cursor: pointer;
}

.table .sorting_asc {
    padding-right: 19px;
    background: url('/images/sort_asc.png') no-repeat center right;
    cursor: pointer;
}

.table .sorting_desc {
    padding-right: 19px;
    background: url('/images/sort_desc.png') no-repeat center right;
    cursor: pointer;
}

    .table .sorting span, .table .sorting_asc span, .table .sorting_desc span {
        margin-left: 10px;
    }



.page-num-input {
    padding: 3px 10px !important;
}

    .page-num-input input {
        width: 50px !important;
        text-align: center;
    }

    .page-num-input a {
        margin-left: 10px;
        text-decoration: none;
        border: 1px solid #ddd;
        padding: 2px;
    }

        .page-num-input a:hover {
            background-color: #4a83b6;
            color: #fff;
        }

.input-daterange {
    width: auto !important;
}

    .input-daterange input {
        width: 130px !important;
    }

    .input-daterange .input-group-addon {
        border-left: none;
        border-right: none;
    }

.myloading {
    position: absolute;
    width: 120px;
    height: 50px;
    border: 1px solid #ddd;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -20px;
    z-index: 9999;
    line-height: 50px;
    display: none;
    padding-left: 40px;
    background: #fff url(/images/loading.gif) no-repeat center left;
    color: #908989;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.requiredspan {
    vertical-align: middle;
    color: red;
    font-weight: 700;
    padding-left: 5px;
}

.editmode .form-group label {
    font-weight: 700 !important;
    width: 80px;
    text-align: right;
    padding-right: 10px;
}

.editmode .title {
    margin: 0 !important;
    padding: 10px;
    text-align: left;
    background-color: #07a7e1;
    /*margin-top: 10px !important;*/
    /*margin-bottom: 10px !important;*/
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    /*height: 40px;
    line-height: 40px;*/
}

.editmode .col-md-6, .editmode .col-md-12 {
    padding-left: 0;
    padding-right: 0;
    background-color: #fff !important;
}





.editmode .col-md-12 {
    margin-bottom: 20px;
}

    .editmode .col-md-12 > .form-group {
        margin-right: 20px;
    }

        .editmode .col-md-12 > .form-group > input {
            margin-left: 0 !important;
        }


/*@media (min-width: 768px) {
    .col-sm-lable {
        float: left;
        width: 80px;
    }

    .col-sm-ipt {
        float: left;
        width: calc(100% - 80px)
    }
}

.col-sm-lable, .col-sm-ipt {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px
}

.ipt-con > .row > div {
    margin-bottom: 15px;
}

.ipt-con > .row > .col-sm-6 > div {
    margin-bottom: 15px;
}*/
.has-error > label {
    color: red;
}

.has-error .layui-layer.layui-layer-tips {
    position: fixed !important;
    z-index: 99999;
}

.date-picker[readonly] {
    background-color: #fff !important;
}

/************************select2样式************************/
/*.select2-results__options {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}*/




