body {
    padding: 0;
    margin: 0;
    font-family:'Microsoft YaHei',STSong
}

/*@font-face {
    font-family: myfont;
    src: url('../fonts/Bad Script regular.ttf');
}

div {
    font-family: myfont;
}*/

.page-content-white .page-title {
    margin: 0 0 10px !important;
}

.page-content-wrapper .page-content {
    padding: 10px !important;
}

.page-footer-fixed .page-footer {
    background-color: #ffffff !important;
}

.margin-right-10
{
    margin-right:10px;
}
