
@{
    ViewBag.Title = "Index";
}

<!-- BEGIN PAGE TITLE-->
<div class="page-content-title">
    <span class="title">病历管理</span>
</div>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="page-content-body">
    @*<div class="note note-info">
            <p> 页面信息</p>
        </div>*@
  
    <div class="portlet light bordered">
        <div class="portlet-body">
            <form id="formadd" method="post" action="/TEST/CreateUser">
                <table cellpadding="3">
                    <tr>
                        <td>用户名</td>
                        <td>
                            <input id="UserName" name="UserName" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td>
                            <input id="Name" name="Name" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td>角色</td>
                        <td>
                            <input id="RoleName" name="RoleName" value="patient" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input id="Submit1" type="submit" value="提交" /> </td>
                    </tr>

                </table>
            </form>
        </div>
    </div>


</div>

@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")
    
}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    <script>
        $(function () {
            $(".select2me").select2({
                placeholder: "Select",
                width: "resolve",
                allowClear: true,
                language: "zh-CN"
            })
        })
    </script>
}



