
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="不孕不育管理系统" name="description" />
    <meta content="terius" name="author" />
    <title>登录</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />*@

    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />

</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="javascript:;" class="btn btn-primary" data-roletype="patient"><i class="fa fa-user margin-right-10"></i>患者入口</a></li>
            <li><a href="javascript:;" class="btn btn-primary" data-roletype="doctor"><i class="fa fa-user-md margin-right-10"></i>医生入口</a></li>
        </ul>
    </div>
    <div class="login-panel" style="display:none">
        <div class="logo">
        </div>
        <h3 id="login-title">医生登录</h3>
        <form action="/Account/Login" method="post" id="form1">
            @Html.AntiForgeryToken()
            <div class="content">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                        <input class="form-control" required type="text" maxlength="20" autocomplete="off" errormessage="用户名不能为空" placeholder="用户名" id="UserName" name="UserName" tabindex="1" />

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                        <input class="form-control" required type="password" maxlength="20" autocomplete="off" errormessage="密码不能为空" placeholder="密码" id="Password" name="Password" tabindex="2" />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-eye fa-fw"></i></div>
                            <input class="form-control" required style="width:155px" type="text" maxlength="4" errormessage="验证码不能为空" autocomplete="off" placeholder="验证码" id="ValidCode" name="ValidCode" tabindex="3" />

                        </div>
                        <div class="valid-code"><img src='/Account/CreateValidCode?ID=@DateTime.Now.Ticks' style="cursor:pointer" id="imgCode" title="单击可刷新" onclick="ClickRemoveChangeCode()" /></div>
                    </div>
                </div>
            </div>
            <div class="login-submit text-center">
                <input id="RoleName" name="RoleName" type="hidden" />
                <button href="javascript:;" type="button" class="btn btn-success" style="width:100%" id="loginButton" tabindex="4">登 录</button>
            </div>

        </form>
        @Html.ValidationSummaryBootstrap()
    </div>
    <div class="title"><h1>不孕不育远程门诊</h1></div>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/validate-ex.js"></script>
    <script src="~/Scripts/layui/layui.all.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script>

        var ClickRemoveChangeCode = function () {
            $("#imgCode").attr("src", "/Account/CreateValidCode?ID=" + Math.random());
        }


        $(function () {
            $("#form1").validateForm();

            $(".menu a").on("click", function () {
                $(".menu .selected").removeClass("selected");
                $(this).addClass("selected");
                var roleType = $(this).data("roletype");
                $(".login-panel").show().removeClass().addClass("login-panel " + roleType);
                $("#RoleName").val(roleType);
                switch (roleType) {
                    case "patient":
                        $("#login-title").text("患者登录");
                        break;
                    case "doctor":
                        $("#login-title").text("医生登录");
                        break;
                    default:
                }
            })

            $("#loginButton").on("click", function () {
                com.jqFormOption.success = function (result) {
                    com.showLog(result);

                    if (result.Result) {
                        location.href = "/MedicalHistory/Index";
                    }
                    else {
                        com.showLayerAlert(result.ErrorMessage);
                    }
                }
                // com.jqFormOption.url = km.model.urls["add"];
                $("#form1").ajaxSubmit(com.jqFormOption);
            })

            autoLogin();
        })


        function autoLogin() {
            $("#UserName").val("d001");
            $("#Password").val("123456");
            $("#RoleName").val("doctor");
            $("#ValidCode").val("9999");
            //   $("#loginButton").click();
        }

    </script>
</body>
</html>
