@model BYBY.Services.Models.DoctorDetailModel
@{
    ViewBag.Title = "医生详细信息";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            医生详细信息
        </div>
        <div class="actions">
            <a class="btn fa fa-reply btn-default " href="javascript:;" onclick="history.go(-1)" data-original-title="返回" title="返回"> </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body" id="doctor-detail" v-cloak>
        <div class="doctor-detail row">
            <div class="col-md-12">
                <div style="float:left"><img :src="info.ImageUrl" class="img-circle" width="200" height="200" /></div>
                <div class="detail">
                    <h3>{{info.Name}}</h3>
                    <p class="hosp">{{info.HospitalName}}</p>
                    <p>登录名：{{info.UserName}}</p>
                    <p>科室：{{info.Department}}</p>
                    <p>职称：{{info.JobTitle}}</p>
                    <p>联系方式：{{info.Phone}}</p>
                    <p>简介：{{info.Remark}}</p>
                </div>
            </div>
            <div class="col-md-12">
            </div>
        </div>

    </div>
</div>

@section styles
{
    @*<link href="/Metronic/assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />*@
    <style>
        .profile-userpic img {
            float: none;
            margin: 0 auto;
            width: 50%;
            height: 50%;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            border-radius: 50% !important;
        }
    </style>
}

@section pagejs
{
    <script>

        $(function () {
            var allData =  @Html.RenderAsJson(Model);
            var vueDetail = new Vue({
                el: "#doctor-detail",
                data: {
                    info: allData
                }
            })

        })

    </script>

}

