
@{
    ViewBag.Title = "病历管理";
}

<div class="page-content-title">
    <span class="title">病历管理</span>
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="querycontent">
            <div class="form-inline">
                @*<button type="button" class="btn blue btn-outline">
                        <i class="fa fa-plus-circle"></i> 新增患者
                    </button>
                    <span style="width:30px;display:inline-block"></span>*@
                <select class="form-control select2me" style="width:200px" name="ddlpatient" id="ddlpatient"
                        data-placeholder="--请选择医院--">
                    <option></option>
                    <option value="1">丈夫</option>
                    <option value="2">丈夫1</option>
                    <option value="3">丈夫2</option>
                </select>
                <div class="form-group margin-left-20">
                    <label for="exampleInputName2">患者信息：</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <div class="form-group margin-left-20">
                    <label for="exampleInputName2">患者信息：</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <button type="button" class="btn blue btn-outline margin-left-20">
                    <i class="fa fa-search"></i> 查询
                </button>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="btn blue btn-outline">
                <i class="fa fa-plus"></i> 新增患者
            </button>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th colspan="2">女方</th>
                    <th colspan="2">男方</th>
                    <th colspan="2">联系方式</th>
                    <th colspan="2">状态信息</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th>女方姓名</th>
                    <th>女方年龄</th>
                    <th>男方姓名</th>
                    <th>男方年龄</th>
                    <th>女方手机号</th>
                    <th>男方手机号</th>
                    <th>会诊状态</th>
                    <th>转诊状态</th>
                    <th>录入时间</th>
                    <th style="width:200px">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr><td style="text-align:center"><i class="fa fa-plus fa-2x" style="margin-top:10px;cursor:pointer"></i></td><td>aaaaa</td><td>aaaaa</td></tr>
                <tr><td>aaaaa</td><td>aaaaa</td><td>aaaaa</td></tr>
                <tr><td>aaaaa</td><td>aaaaa</td><td>aaaaa</td></tr>
                <tr><td>aaaaa</td><td>aaaaa</td><td>aaaaa</td></tr>

            </tbody>
        </table>
    </div>
</div>

@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")

}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    <script>
        $(function () {
            // $("#ddlpatient").select2.defaults.set("width", "resolve");

        })
    </script>
}

