@model IList<BYBYApp.Models.MedicalHistoryListModel>
@{
    ViewBag.Title = "病历管理";
}

<div class="page-content-title">
    <span class="title">病历管理</span>
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="querycontent">
            <div class="form-inline">
                @*<button type="button" class="btn blue btn-outline">
                        <i class="fa fa-plus-circle"></i> 新增患者
                    </button>
                    <span style="width:30px;display:inline-block"></span>*@
                <select class="form-control select2me" style="width:200px" name="ddlpatient" id="ddlpatient"
                        data-placeholder="--请选择医院--">
                    <option></option>
                    <option value="1">丈夫</option>
                    <option value="2">丈夫1</option>
                    <option value="3">丈夫2</option>
                </select>
                <div class="form-group margin-left-20">
                    <label for="exampleInputName2">患者信息：</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <div class="form-group margin-left-20">
                    <label for="exampleInputName2">患者信息：</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <button type="button" class="btn blue btn-outline margin-left-20">
                    <i class="fa fa-search"></i> 查询
                </button>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="btn blue btn-outline">
                <i class="fa fa-plus"></i> 新增患者
            </button>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table  table-bordered" id="query-table" v-cloak>
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th colspan="2">女方</th>
                    <th colspan="2">男方</th>
                    <th colspan="2">联系方式</th>
                    <th colspan="2">状态信息</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th>女方姓名</th>
                    <th>女方年龄</th>
                    <th>男方姓名</th>
                    <th>男方年龄</th>
                    <th>女方手机号</th>
                    <th>男方手机号</th>
                    <th>会诊状态</th>
                    <th>转诊状态</th>
                    <th>录入时间</th>
                    <th style="width:200px">操作</th>
                </tr>
            </thead>
            <tbody>
                @*<tr><td style="text-align:center"><i class="fa fa-plus fa-2x" style="margin-top:10px;cursor:pointer"></i></td><td>aaaaa</td><td>aaaaa</td></tr>*@
                <template v-for="(info,index) in datas.Data">
                    <tr>
                        <td><a href="javascript:;" v-on:click="showDetail"><i class="fa fa-plus fa-2x" style="margin-top:5px;"></i></a></td>
                        <td>{{info.FeMaleName}}</td>
                        <td>{{info.FeMaleAge}}</td>
                        <td>{{info.MaleName}}</td>
                        <td>{{info.MaleAge}}</td>
                    </tr>
                    <tr class="detail-view">
                        <td colspan="11">
                            <table border="0" cellpadding="10" cellspacing="0">
                                <tr><td class="left">女方姓名:艾斯德斯</td><td class="right">男方姓名：张玲</td></tr>
                                <tr><td class="left">女方姓名:艾斯德斯</td><td class="right">男方姓名：张玲</td></tr>
                                <tr><td class="left">女方姓名:艾斯德斯</td><td class="right">男方姓名：张玲</td></tr>
                                <tr><td class="left">女方姓名:艾斯德斯</td><td class="right">男方姓名：张玲</td></tr>
                            </table>
                        </td>
                    </tr>

                </template>

            </tbody>
            <tfoot>
                <tr><td colspan="20"><v-page v-bind:page="datas"></v-page></td></tr>
            </tfoot>
        </table>

    </div>
</div>
@{  Html.RenderPartial("_Paginator");}
@section styles
{
    @System.Web.Optimization.Styles.Render("~/bundles/css/select2")

}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/select2")
    <script>
        $(function () {
            // $("#ddlpatient").select2.defaults.set("width", "resolve");

            Vue.component('v-page', {
                template: "#vuetmp-paginator",
                props: ["page"]
            })



            $.getJSON("@Url.Action("PageQuery", "MedicalHistory")").then(function (mydata) {
                mydata.query = function(pageNum,sortIndex,sortType) {
                    alert(pageNum);
                }
                com.showLog(mydata);
                var vuetable = new Vue({
                    el: '#query-table',
                    data: {
                        datas: mydata
                    },
                    mounted: function () {
                        //   App.initSlimScroll('#programList');
                    },
                    methods: {
                        showDetail: function (event) {
                          //  alert(event);
                            if (event) {
                                var $currBtn = $(event.target);
                                $("#query-table tbody .detail-view").removeClass("open");
                                var isDetailClosed = $currBtn.hasClass("fa-plus");
                              //  alert(isDetailClosed);
                                if (isDetailClosed) {

                                    $currBtn.removeClass("fa-plus").addClass("fa-minus").closest("tr").next().addClass("open");
                                }
                                else {
                                    $currBtn.removeClass("fa-minus").addClass("fa-plus");

                                }

                            }
                        }
                    }
                })
            })



        })
    </script>
}

