@model IList<BYBY.Services.Views.DateSetupListView>
@{
    ViewBag.Title = "患者统计";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            患者统计
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>

    <div class="portlet-title">

    </div>
    <div class="portlet-body">
        <div id="main" style="height:400px"></div>

    </div>
</div>



@section styles
{

}

@section pagejs
{
    @System.Web.Optimization.Scripts.Render("~/bundles/js/echarts")
    <script>
        $(function () {
            // 基于准备好的dom，初始化echarts图表
            var myChart = echarts.init(document.getElementById('main'));

            var option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data: ['销量']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        "name": "销量",
                        "type": "bar",
                        "data": [5, 20, 40, 10, 10, 20]
                    }
                ]
            };

            // 为echarts对象加载数据 
            myChart.setOption(option); 
        })
    </script>
}



